:root{
    /* color */
    --color-text: #fff;
    /* --color-primary:#576cbc; */
    --color-primary: #0C0C0C99;
    /* --color-secondary:#19376d; */
    --color-secondary:#8c8989;
    /* --color-dark:#0b2447; */
    --color-dark:#0c0c0c99;
    /* --color-bg:#04152d; */
    /* --color-bg:#e8e6e6;
    --color-white-bg:#fff; */
    --color-bg:#e8e6e6;
    --color-white-bg:#fff;

    /* link */
    --link-color: #0C0C0C99;

    /* font */
    --font-roboto : "Roboto";
    --font-montserrat : "Montserrat";
    
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-latin-400-normal.woff2') format('woff2')
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }